*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
}

main {
  height: 80%;
}

footer {
  height: 10%;
}

.paletaColores {
  display: flex;
  gap: 10px;
}

.tarjeta  {
  width: 50px;
  height: 100px;
  transition: width 0.5s ease;
  overflow: hidden;
}

.tarjeta:hover {
  width: 150px;
}

.muestra {
  cursor: pointer;
  width: 100%;
  height: 100%;
}