*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FuenteTitulos";
  src: url("../fonts/BungeeSpice-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuenteTexto";
  src: url("../fonts/Delius-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(200, 200, 154), #a6bfe3);
}

header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
  font-family: "FuenteTitulos";
}

main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main * {
  font-family: "FuenteTexto";
  font-weight: bolder;
}

.contenedor {
  width: 50%;
  height: 75%;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 10%;
  text-align: center;
}

.paletaColores {
  min-height: 10rem;
  height: 80%;
  display: flex;
  width: 90%;
  padding-top: 1rem;
}

.tarjeta {
  flex: 1;
  height: 100%;
  transition: width 0.5s ease;
  position: relative;
}

.tarjeta:hover {
  flex: 2;
}

.tarjeta:hover .codigo {
  visibility: visible;
}

.muestra {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.codigo {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  padding-top: 1rem;
}

button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


footer p {
  font-family: "FuenteTexto";
  font-weight: 900;
}