*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
  flex-shrink: 0 → Le decimos al flex:  “quédate estático”: el bloque no se encoje, mantiene su altura (10% o 77.5%). (no encojas este bloque).
  overflow: auto  → Para poder ver todo el contenido: si no cabe, sale scroll dentro del bloque.
*/
header {
  height: 12.5%;
  flex-shrink: 0;
  overflow: auto;
}

main {
  height: 77.5%;
  flex-shrink: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.paleta {
  height: 85%;
  flex-shrink: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  overflow: auto;
}

.controles {
  height: 15%;
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-width: 4rem;
  flex: 1;
  max-width: 15%;
  min-height: 6rem;
  overflow: hidden;
}

.tarjeta .muestra {
  flex: 1;
  min-height: 3rem;
  background-color: black;
}

.tarjeta .codigo {
  padding: 0.35rem 0.5rem;
  font-size: 0.8rem;
}

footer {
  height: 10%;
  flex-shrink: 0;
  overflow: auto;
}
